/* *{
    padding: 0;
    margin: 0;
    border: 0;
} */

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color:var(--color-1);
    font-family: sans-serif;
    align-content: space-around;

}
:root{
    counter-reset:headings;
    --color-1:rgba(10, 9, 8, 0.972);
}

/* Header */
.header{
    display: grid;
    grid-template-columns:  repeat(12, 1fr);
    grid-column-gap: 5px;
    justify-items: center;
    margin: 0;
    padding: 0;
    height: 100px;
}
hr{
   grid-column-start:2;
   border: 0;
   border-top: 1px solid rgb(41, 39, 36);
   width: 100%;
}
.line-wrapper{
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 10fr 1fr;    
}

/* NAVBAR */
.navbar{
    display: flex;
    grid-column-start:11;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    gap:10px;
}

.navbar a{
    text-decoration: none;
    color:aliceblue;
    /* padding: 25px; */
}

.navbar a.active{
    color: bisque;
}

.navbar a:hover{
    background-color: rgb(53, 53, 56);
}
