*{
    padding: 0;
    margin: 0;
}
body, html {
    border: 0;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color:var(--color-1);
    font-family: sans-serif;

}
:root{
    counter-reset:headings;
    --color-1:rgb(10, 9, 8);
}

/* Header */
.header{
    display: grid;
    grid-template-columns:  repeat(12, 1fr);
    grid-column-gap: 5px;
    justify-items: center;
    height: 100px;
}
hr{
   grid-column-start:2;
   border: 0;
   border-top: 1px solid rgb(41, 39, 36);
   width: 100%;
}
.line-wrapper{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;    
}

/* NAVBAR */
.navbar{
    display: flex;
    grid-column-start:11;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    gap:10px;
}

.navbar a{
    text-decoration: none;
    color:aliceblue;
    padding: 25px;
}

.navbar a.active{
    color: bisque;
}

.navbar a:hover{
    background-color: rgb(53, 53, 56);
}

/* CONTENT */
/* .gallery-container{
    width: 100vw;
    height: 100vh;

    display:grid;
    grid-template-columns: 1fr 10fr 1fr;
    
} */
.image-gallery {
    /* grid-column-start:2; */
    display: flex;
    gap:20px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
    justify-content: center;
}

.column {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
img {
    /* width: 100%;
    height: 100%; */
    border-radius: 5px;
    object-fit: cover;
    transition: transform .25s ease-out;

}
img:hover {
    /* width: 0%; */
    /* animation: ; */
    transform: scale(105%);
    transition: transform 0.25s;
    /* opacity: 0%; */
}

@media(max-width:768px){
    .image-gallery{
        flex-direction: column;
    }
    .column{
        max-width: 100%;
    }
}