/* CONTENT */
.image-gallery {
    /* grid-column-start:2; */
    display: flex;
    gap:20px;
    width: 90%;
    margin: auto;
    /* padding: 40px 0; */
    justify-content: center;
}

.column {
    /* display: ; */
    max-width: 30%;
    display: flex;

    flex-direction: column;
    gap: 20px;
}
img {
    /* width: 100%;
    height: 100%; */
    border-radius: 5px;
    object-fit: cover;
    transition: transform .25s ease-out;

}
img:hover {
    /* width: 0%; */
    /* animation: ; */
    transform: scale(105%);
    transition: transform 0.25s;
    /* opacity: 0%; */
}

@media(max-width:768px){
    .image-gallery{
        flex-direction: column;
    }
    .column{
        max-width: 100%;
    }
}