
/* CONTENT */
/* .section:nth-of-type(2n+1){
    background-color:var(--color-1);
} */
.section:nth-of-type(2n){
    background-color: rgb(20, 20, 20);
}
.section{
    display: flex;

    color:aliceblue;
    height:150px;
    width: 100%;
    justify-content: center;

    align-items: center;
}
.intro{
    min-height: 500px;
    height: 50vh;
}
.gradient-text {
    /* color:blueviolet; */
    background-image: linear-gradient(135deg, rgba(247, 247, 247,100%), rgba(117, 99, 78,10%) 85%);
    background-size: 100%;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.intro a {
    font-size: 100px;

}